.pieDePagina{
        background-color: $color1;
        color: $color2;
        margin-inline: $size1;
        margin-top: $size2;
        text-align: center;
        padding: $size2;

}

.pieDePagina a{

        letter-spacing: $size3;

}


.pieDePagina a:hover{

        color: $color3;
}

.fa-brands{
        color: $color2;
        text-decoration: none;
}

