h1 {
    color: $color1;
    padding: $size1;
    margin-top: $size3;
}

.contenedorGaleria {
    
    width: 100%;
    height: 700px;
    display: grid;
    padding: $size1;
    margin-right: 10px;
    gap: 5px;
    
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "caja1 caja1 caja1 caja2"
        "caja3 caja5 caja5 caja2"
        "caja4 caja5 caja5 caja6";

}       

.caja {
    border: 2px solid $color1;
    
}

.caja1 {
    grid-area: caja1;
    background-image: url(./img/molo7.jpeg);
    background-size: cover;
    background-position: center;
}

.caja2 {
    grid-area: caja2;
    background-image: url(./img/molo13.jpeg);
    background-size: cover;
    background-position: center;
}

.caja3 {
    grid-area: caja3;
    background-image: url(./img/molo5.jpeg);
    background-size: cover;
    background-position: center;
}
.caja4 {
    grid-area: caja4;
    background-image: url(./img/molo6.jpeg);
    background-size: cover;
    background-position: center;
}

.caja5 {
    grid-area: caja5;
    background-image: url(./img/molo9.jpeg);
    background-size: cover;
    background-position: center;
}

.caja6 {
    grid-area: caja6;
    background-image: url(./img/molo12.jpeg);
    background-size: cover;
    background-position: center;
}

