@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,400&family=Poppins:wght@100;200;300;400;500&family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
    

    &::selection{

        color: $color2;
        background-color: $color1;

    }
}